*{
    margin: 2%;
    padding: 2%;
    font-size: 40px;
    ;
}
#cd{
   font-size: 40px;
    color: blanchedalmond;
    background-color: black;

}
.ab{
    padding: 80px;
    border: 50px solid rgb(248, 201, 29);
}
#ef{
    font-size: 40px;
    color: blanchedalmond;
    background-color: black;
}
